.block_main_about {
    
    position: relative;
    background: rgb(15, 16, 17);
    overflow: hidden;
    min-height: 650px;
    text-decoration: none;
    
}

.block_main_about div {
    padding: 150px 20px 0;
    position: relative;
    z-index: 2;
    color: white;
}

.block_main_about:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.4;
    background-image: url(../img/main_about.jpg);
    min-height: 650px;
    text-decoration: none;
    color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.burger-icon {
    color: white;
}