:root {
    font-family: 'Montserrat', sans-serif;
    --main-color: black;   
}
body {
    max-width: 1080px;
    margin: auto;
    
}

.block_main {
    background-image: url(../img/smile-main.jpg);
    background-size: cover;
    background-position: center;
    min-height: 650px;
    text-decoration: none;
    color: white;
}

.block_main div {
    display: block;
    padding: 300px 0 0 50px;
}

nav {
    background: black;
    color: white;
    width: 100%;
    height: 110px;
    /* position: fixed;
    top: 0;
    left: 0; */
}
 .logo img{
     width: 150px;
     height: 110px;
 } 

.burger-icon {
    font-size: 2rem;
    display: inline-flex;
    align-self: flex-end;
}

.burger-icon:hover {
    color: #BADA55;
}

#burger-checkbox {
    display: none;
}

.menu a {
    display: flex;
    justify-content: end;
    text-decoration: none;
    color: white;
    width: 110px;
}

.menu a:hover {
    font-weight: bold;
    color: #BADA55;
}

header nav .menu {
    display: none;
}

header nav input:checked ~ .menu {
    display: block;
}

@media (min-width: 730px) {
    .burger-icon {
        display: none;
    }

    header nav input:checked ~ .menu {
        display: flex;
    }

    header nav {
        display: flex;
    }

    header nav .menu {
        display: flex;
        justify-content: flex-end;
        flex: 1 3;
        align-items: center;
    }

    
}

h1 {
    font-size: 42px;
    font-weight: bold;
}

section .block_services {
margin-top: 50px;
background-color: #E5E5E5;
}

 .dental-services img {
  max-width: 100%;
 }
 .dental-services > div p {
     font-size: 22px;
     font-weight: medium;
     text-align: center;
     margin: 10px 0;
 }


h2 {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}


.sign-up-online {
    width: 120px;
    height: 40px;
    border: 3px solid white;
    border-radius: 5px;
    background-color: unset;
    color: white;
    margin: 0 10px 0 0;
}

.sign-up-online:hover {
    background-color: black;
    color: #BADA55;
    border: 3px solid #BADA55;
}


.block_contacts > div {
   background-color: white;
   display: block;
   border: 2px solid rgb(15, 15, 15);
   border-radius: 5px;
   text-align: center;
   margin: 20px 0;
}


.block_contacts button {
    margin-bottom: 10px;
    background-color: #BADA55;
    color: black;
    border: 1px solid #BADA55;
    width: 120px;
    height: 35px;
    border-radius: 5px;
}

@media (min-width: 679px) {
    .block_contacts {
        display: grid;
        grid-template-columns: 1fr;
        margin: 50px 10px;
        align-self: center;
        text-align: center;
       
    }
}

@media (min-width: 680px) {
    .block_contacts {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 10px;
        margin: 50px 10px;
        align-self: center;
        text-align: center;
    }
         .dental-services {
     display: grid;
     grid-template-columns: 1fr 1fr;
     
     align-items: center;
     justify-self: center;
 }
    
}

.block_contacts button:hover {
    background-color: black;
    color: #BADA55;
}

.simple_form {
    margin-top: 50px;
    position: relative;
    background: rgb(15, 16, 17);
    overflow: hidden;
}

.simple_form .perfect-smile {
    padding: 20px;
    position: relative;
    z-index: 2;
    color: white;  
}

.simple_form:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.8;
    background-image: url(../img/orthostyle-2019.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

#get-a-callback {
    background-color: #BADA55;
    color: black;
    border: 1px solid #BADA55;
    width: 120px;
    height: 35px;
    border-radius: 5px;
}

#get-a-callback:hover {
    background-color: black;
    color: #BADA55;
}
 container .block_about{
background-color: black;
background-position: cover;
color: white;
margin-top: 0;
 }
 


.block_advantage img {
    max-width: 40px;
    display: block;
    margin: auto;
    padding: 10px;
}

.block_advantage p {
    text-align: center;
}

#full {
    background-image: url(../img/orthostyle-table-2019.jpg);
    background-size: cover;
    background-position: center;
    min-height: 500px;
}

.social_networks img {
    max-width: 30px;
    display: block;
    margin: auto;
    padding: 10px;
}




