:root {
    font-family: 'Montserrat', sans-serif;
    --main-color: black;   
}
body {
    max-width: 1440;
    margin: auto;
}

.block_main {
    background-image: url(../img/smile-main.jpg);
    background-size: cover;
    background-position: center;
    min-height: 650px;
    text-decoration: none;
    color: white;
}

.block_main div {
    display: block;
    padding: 300px 0 0 50px;
}

nav {
    background: black;
    color: white;
    width: 100%;
    height: 110px;
    position: fixed;
    top: 0;
    left: 0;
}
 .logo img{
     width: 150px;
     height: 110px;
 } 

.burger-icon {
    font-size: 2rem;
    display: inline-flex;
    align-self: flex-end;
}

#burger-checkbox {
    display: none;
}

.menu a {
    display: flex;
    justify-content: end;
    text-decoration: none;
    color: white;
    width: 110px;
}

.menu a:hover {
    font-weight: bold;
    text-decoration: line-through;
}

header nav .menu {
    display: none;
}

header nav input:checked ~ .menu {
    display: block;
}

@media (min-width: 700px) {
    .burger-icon {
        display: none;
    }

    header nav input:checked ~ .menu {
        display: flex;
    }

    header nav {
        display: flex;
    }

    header nav .menu {
        display: flex;
        justify-content: flex-end;
        flex: 1 3;
        align-items: center;
    }

    
}

h1 {
    font-weight: bold;
}

.block_services img {
    max-width: 200px;
    display: block;
    margin: auto;
    padding: 10px;
}

.simple_form {
    background-image: url(../img/smile-boy-in-the-hat.jpg);
    background-size: cover;
    background-position: center;
    min-height: 300px;
    margin: 100px 0 0 0;
}

h2 {
    text-align: center;
}

.block_advantage img {
    max-width: 40px;
    display: block;
    margin: auto;
    padding: 10px;
}

.block_advantage p {
    text-align: center
}

#full {
    background-image: url(../img/girl-with-ring.jpg);
    background-size: cover;
    background-position: center;
    min-height: 500px;
}

.social_networks img {
    max-width: 30px;
    display: block;
    margin: auto;
    padding: 10px;
}

.sign-up-online {
    width: 120px;
    height: 40px;
    border: 3px solid white;
    border-radius: 5px;
    background-color: unset;
    color: white;
}

.sign-up-online:hover {
    background-color: black;
    color: rgb(112, 240, 53);
    border: 3px solid rgb(112, 240, 53);
}

.block_contacts {
    display: flex;
    justify-content: space-evenly;
    margin: 50px 0 0 0;
    text-align: center;
    
}

.location {
   border: 2px solid rgb(15, 15, 15);
   width: 25%;
   border-radius: 5px;
}

.contacts { 
   border: 2px solid rgb(15, 15, 15);
   width: 32%;
   border-radius: 5px;
}

.hours {
   border: 2px solid rgb(15, 15, 15);
   width: 25%;
   border-radius: 5px;
   
}

.block_contacts button {
    margin-bottom: 10px;
}

@media (min-width: 892) {
    .block_contacts {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}