:root {
    font-family: 'Montserrat', sans-serif;
    --main-color: black; }

body {
    max-width: 1080px;
    margin: auto;
}

.block_main {
    background-image: url(../img/smile-main.jpg);
    background-size: cover;
    background-position: center;
    min-height: 650px;
    text-decoration: none;
    color: white;
}

.block_main div {
    display: block;
    padding: 300px 0 0 50px;
}

nav {
    background: black;
    color: white;
    width: 100%;
    height: 110px;
}

.logo img {
    width: 150px;
    height: 110px;
}

.burger-icon {
    font-size: 2rem;
    display: inline-flex;
    align-self: flex-end;
}

.burger-icon:hover {
    color: #BADA55;
}

#burger-checkbox {
    display: none;
}

.menu a {
    display: flex;
    justify-content: end;
    text-decoration: none;
    color: white;
    width: 110px;
}

.menu a:hover {
    font-weight: bold;
    color: #BADA55;
}

header nav .menu {
    display: none;
}

header nav input:checked ~ .menu {
    display: block;
}

@media (min-width: 730px) {
    .burger-icon {
        display: none;
    }

    header nav input:checked ~ .menu {
        display: flex;
    }

    header nav {
        display: flex;
    }

    header nav .menu {
        display: flex;
        justify-content: flex-end;
        flex: 1 3;
        align-items: center;
    }
}

h1 {
    font-size: 42px;
    font-weight: bold;
}

.dental-services img {
    max-width: 100%;
}

.dental-services > div p {
    font-size: 22px;
    font-weight: medium;
    text-align: center;
    margin: 10px 0;
}

h2 {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}

.sign-up-online {
    width: 120px;
    height: 40px;
    border: 3px solid white;
    border-radius: 5px;
    background-color: unset;
    color: white;
    margin: 0 10px 0 0;
}

.sign-up-online:hover {
    background-color: black;
    color: #BADA55;
    border: 3px solid #BADA55;
}

.block_contacts {
    background-color: #15171A;
    background-size: cover;
    margin: 0;
}

.block_contacts > div {
    background-color: white;
    display: block;
    border: 2px solid rgb(15, 15, 15);
    border-radius: 5px;
    text-align: center;
    
}

.block_contacts button {
    margin-bottom: 10px;
    background-color: #BADA55;
    color: black;
    font-weight: bold;
    border: 1px solid #BADA55;
    width: 120px;
    height: 35px;
    border-radius: 5px;
}

.block-about {
    background-color: black;
    background-position: cover;
    color: white;
    margin: 0;
    padding: 50px 40px;
    text-align: center;
}

.text-about {
    text-align: justify;
    font-size: 18px;
    line-height: 26px;
 
}

.more-about-us {
    background-color: #BADA55;
    font-weight: bold;
    color: black;
    width: 120px;
    height: 35px;
    border-radius: 5px;
    margin: 20px 0;
}

.block_advantage {
    background-color: rgb(238, 235, 241);
    font-size: 14px;
    padding: 50px 20px;
}

.block_advantage img {
    max-width: 30px;
    display: block;
    margin: auto;
    padding: 10px;
    color: #BADA55;
}

.block_advantage p {
    text-align: center;
    font-size: 14px;
    font-weight: lighter;
}

@media (min-width: 680px) {
    .block_contacts {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 50px 10px;
        margin: 0;
        align-self: center;
        text-align: center;
    }

    .block_contacts > div {
        margin-top: 0;
    }

    .block_about {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 10px;
    }

    .block_advantage {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 20px;
    }
}

@media (min-width: 900px) {
    .block_contacts {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 20px;
        padding: 50px 10px;
        margin: 0;
        align-self: center;
        text-align: center;
    }

    .dental-services {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-self: center;
    }

    .block_about {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 10px;
    }

    .block_advantage {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 20px;
        align-self: center;
    }
}

.block_contacts button:hover {
    background-color: black;
    color: #BADA55;
    font-weight: bolder;
}

.simple_form {
    margin-top: 50px;
    position: relative;
    background: rgb(15, 16, 17);
    overflow: hidden;
}

.simple_form .perfect-smile {
    padding: 20px;
    position: relative;
    z-index: 2;
    color: white;
}

.simple_form:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.4;
    background-image: url(../img/orthostyle-2019.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.perfect-smile {
    display: flex;
    justify-content: center;
}

.form-group {
    display: block;
    margin: 10px 0;
}

#phone-number {
    display: block;
    width: 300px;
}

#get-a-callback {
    background-color: #BADA55;
    font-weight: bold;
    color: black;
    width: 120px;
    height: 35px;
    border-radius: 5px;
}

#get-a-callback:hover {
    background-color: black;
    color: #BADA55;
    font-weight: bolder;
}

.block-about img {
    width: 100%;
}

.more-about-us:hover {
    background-color: black;
    color: #BADA55;
    font-weight: bolder;
}

.full_form {
    margin-top: 0;
    padding: 50px 0;
    position: relative;
    background: rgb(15, 16, 17);
    overflow: hidden;
}

.full_form .free-consultation {
    padding: 20px;
    position: relative;
    z-index: 2;
    color: white;
}

.full_form:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.4;
    background-image: url(../img/orthostyle-table-2019.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#send-request {
    background-color: #BADA55;
    font-weight: bold;
    color: black;
    width: 120px;
    height: 35px;
    border-radius: 5px;
}

#send-request:hover {
    background-color: black;
    color: #BADA55;
    font-weight: bolder;
}

.free-consultation {
    display: flex;
    justify-content: center;
}


footer {
    margin: 0;
    padding: 50px 50px;
    display: grid;
    grid-template-columns: 1fr 25% 25%;
    background-color: #15171A;
    color: white;
}

.social_networks div{
    margin: 10px 0;

}
 h3 {
     margin: 0;
 }

.social_networks h4 {
    margin: 0 5px;
}

.social_networks img {
    width: 25px;
    min-height: 25px;
    display: flex;
    justify-self: start;
    color: white;
    margin: 5px;
   
}

.social_networks  div{
    display: flex;
    justify-content: space-between;
    
}

.menu_footer a {
   display: block;
   text-decoration: none;
   color: white;   
   margin: 5px; 
   font-size: 16px;
}

.icons {
    display: flex;
    justify-self: start;
    width: 50px;
}

.ortho p {
    font-size: 14px;
}
 
#facebook {
    display: block;
    width: 25px;
    height: 25px;
}

#instagram {
   display: block;
    width: 25px;
    height: 25px;
}

#youtube {
   display: block;
    width: 25px;
    height: 25px;
}


