.before_after {
    background-color:#15171A;
    text-align: center;
    margin: 0;
    padding: 50px 20px;
}
 .menu a {
    position: relative;
    z-index: 2;
    
 }

 .sign-up-online {
    position: relative;
    z-index: 2; 
 }

 h1 {
     color: white;
 }     
 

* {box-sizing: border-box;}

.img-comp-container {
  position: relative;
  height: 200px; 
}

.img-comp-img {
  position: absolute;
  width: auto;
  height: auto;
  overflow: hidden;
}

.img-comp-img img {
  /* display: block; */
  vertical-align: middle;
}

.img-comp-slider {
  position: absolute;
  z-index:9;
  cursor: ew-resize;
  /*set the appearance of the slider:*/
  width: 40px;
  height: 40px;
  background-color: #BADA55;
  opacity: 0.7;
  border-radius: 50%;
}

@media (min-width: 680px) {
    .compair {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    }
}


@media (min-width: 960px) {
    .compair {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    }
}


